
/* HEADER     */

    header {
        max-width: 100vw;
        height: 100vh;
    }
    
/* NAV BARRE    */

    nav {
        
        width: auto;
        height: 100vh ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(206, 206, 214);
        align-items: center;
        font-size: xx-large;
        text-decoration-line: overline;    
    
    }

    .ach {

    color: black;

    }

/* BODY */

    body{
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color:black;
        margin: 0;
        
    }

/* PHOTO ZONE1*/

    #Z1 {

        max-height: 100vh;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
         
    }

    img {

        max-width: 100vw;
        max-height: 100vh;
        
    }

/* FONCTION CANDIDAT ZONE 2*/

    #Z2 {                                                       
                    
        background-color: azure;
        height: 180px;

    }

    #Z2_1 {

        text-align: center;
        font-size: 45px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        width: 100vw;

    }

/* NOM DU CANDIDAT ET DESCRIPTION ZONE 3*/

    #Z3 {

        display: flex;
        flex-direction: column;
        background-color: rgb(127, 187, 255);
        height: 900px;
    }
   
    #NOM {
        
        text-align: left;
        font-weight: bold;
        margin: 0;
        font-size: xx-large;
        font-family: fantasy;
        color: rgb(68, 6, 39);
     
    }
/* LOREM ET PARAGRAPHES */

    .LOREM{

        font-size: large;
        text-align: left;
        margin: 0%;
    }

/* EXPERIENCE */

    .TITRE {

        font-size: x-large;
        background-color: rgb(126, 245, 215);
        margin: 0 3px;
           
    }

    .DATE {

        font-size: x-large;
        background-color: rgb(200, 223, 200);
        margin: 0 3px;

    }

    .COMPET {

        width: 100vw;
        font-size: xx-large;
        text-decoration: underline;
        
    }

/* ZONE4  */

     #Z4 {

        width: 100vw;
        height: 1900px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color:rgb(127, 187, 255);

    }


/* TECHNOLOGIES */
    
      .COMPET_LOGOS {

        width: 170px;      /*responsive 145*/
        height: 280PX;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color:blue;
        border:2px solid black;
        margin-bottom: 30px;   
        
    }
    
/* BOITES     */
     
    .LOGOS{
        
        display: flex;
        width: 100%;
        height: 50%;
        border-bottom: 2px solid black;
        justify-content: center;
        margin-top: 10px;
    
    }

    .LOGO{

        width: 50%;
        height: 90%;
        position: relative;
        left: 50px;
 
    }


    .LANGUAGES {

        position: relative;
        top: 20px;
        text-align: center;
        height: 80px;
        width: 170px;
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;

    }

    
    progress {

        width: 120px;
        height: 30px;
        accent-color: rgba(236, 236, 39, 0.548)
    }
    
    footer {

        text-align: center;
        font-size: x-large;
        font-style: oblique;
        color: gold;

    }


